* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reusable codes */

.hny-party {
  width: 80%;
  max-width: 1320px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header */

.hny-party {
  margin-top: 50px;
}
.hny-party {
  border-radius: 16px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 600px;
  font-family: "Merriweather", serif;
  color: #fff;
  position: relative;
}

.hny-party h3 {
  font-size: 32px;
  font-weight: 400;
}
.hny-party p {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}